---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: 'League Gothic';
  src: local('League Gothic Italic'), 
       local('LeagueGothicItalic'), 
       url(../fonts/league-gothic/leaguegothic-italic-webfont-webfont.woff2) format('woff2')
       url(../fonts/league-gothic/leaguegothic-italic-webfont.woff) format('woff');
}



@font-face {
  font-family: "Metropolis Regular";
  src: url("metropolis/Metropolis-Regular.otf");
  font-weight: normal;
  font-style: normal;
} 
/* @font-face {
  font-family: "Metropolis-SemiBold";
  src: url("metropolis/Metropolis-SemiBold.otf");
  font-weight: bold;
  font-style: italic;
}*/

@font-face {
  font-family: "Metropolis";
  src: url("metropolis/Metropolis-Bold.otf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Metropolis";
  src: url("metropolis/Metropolis-BoldItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("metropolis/Metropolis-ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("metropolis/Metropolis-ExtraBoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}



.page-link{
  display: inline-block;
}
label {
  display: block;
}

.space{
  padding-top: 100px;
}
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: Metropolis,"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 10px 22px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

.flex-container {
  flex-direction:row;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;
  flex-flow: row wrap; 
}

.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: #F55A00;

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #F55A00;
    min-width: 20px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;
  }
}
.flex-item {
  width: 45%;
  order: 1;  
  margin:auto;
  text-align: center;
  padding: 5px;
}



.p-index {
  text-align: justify;
  font-family: Metropolis;
}

.regular {
  font-family: Metropolis Regular;
}

.team-photos{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.team-names {
  text-align: center;
  color: #F55A00;
}

.behind{
  position: relative;
  opacity: 0.3;
  width: 50%;
  z-index:-1;
}

// Default theme colors
$theme-colors: (
  "coolblack": #090a0b,
  "spacegrey": #353535,
  "snowwhite": #ffffff,
);

// Default brand colors
$brand-colors: (
  "orangered": #ff5100,
  "greatgold": #f2cb05,
  "greenblue": #389092,
);

$theme-name: "{{ site.theme_color }}";
$brand-name: "{{ site.brand_color }}";
$theme-color: map-get($theme-colors, "snowwhite");
$brand-color: map-get($brand-colors, "orangered");

@if map-has-key($theme-colors, $theme-name) {
  $theme-color: map-get($theme-colors, $theme-name);
} @else if str-index($theme-name, "#") == 1 {
  $theme-color: {{ site.theme_color | default: '#ffffff' }};
}

@if map-has-key($brand-colors, $brand-name) {
  $brand-color: map-get($brand-colors, $brand-name);
} @else if str-index($brand-name, "#") == 1 {
  $brand-color: {{ site.brand_color | default: '#ff5100' }};
}

$content-width: {{ site.content_width | default: '920px' }};

@import "yat";


