
.ui-widget {
    font-family: Metropolis;
}

.ui-widget b {
    color: #e95420;
}

.ui-dialog-title {
    font-weight: bold;
    font-size: 20;
}

.page-content {
    padding: 0; !important
}


    .MyWrapper {
        display:flex; 
        justify-content: center; 
        flex-direction: column;
        align-items: center;
    }

    #OptionPannel {
        display:flex; 
        justify-content: center; 
}
#MapDiv {
    display:inline-block; 
}
text {font-family: Metropolis;
}


    .hover-info {
    width: 150px;
    z-index: 10001;
    position: absolute;
    padding-left: 4px;
    background: #fafafa;
    border: 1px solid black;
    border-radius: 6px;
    overflow: visible;
  }
  .hover-info-tournament {
    width: 300px;
    z-index: 10001;
    position: absolute;
    padding-left: 4px;
    background: #fafafa;
    border: 1px solid black;
    border-radius: 6px;
    overflow: visible;
  }
    .pannel {
    width: 70%;
    height: 100px;
    z-index: 10001;
    padding-left: 4px;
    background: #fafafa;
    overflow: visible;
    border: 1px solid black;
    border-radius: 10px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    gap:10px; 
    align-items: center;
  }
    #date {
    font-weight: bold;
    font-size: 25px;
    color: #e95420;
  }
 
  .wrapper {
      max-width: none; !important
  }

  .svg-container {
    display: inline-block;
    position: relative;
    width: 80vw;
    height: 55vh;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
